<!DOCTYPE html>
<html>
<head>
  <title>Morpher</title>
  <%= stylesheet_link_tag    "morpher/application", media: "all" %>
  <%= javascript_include_tag "morpher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
